.debtors-list {
    margin: 20px;
    border-radius:20px;
    background-color: rgba(33, 33, 33, 255);
    color:white;
    padding-bottom: 1%;
}

.debtors-list table {
    width: 100%;
    table-layout: fixed;
    width: 95%;
    margin-left: 2.5%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    text-align: center;
    margin-top: 20px;
}

.debtors-list th, .debtors-list td {
    border: 1px solid #ddd;
    padding: 8px;
}

.debtors-list details {
    cursor: pointer;
}

.debtors-list summary {
    font-weight: bold;
}

.delete-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 33, 33, 255);
    transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px black;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 300px;
    text-align: center;
}
.edit-modal h2{
    color: #FFAE00;
}

.edit-modal input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-button, .cancel-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.save-button:hover{
    background-color: green;
    transition: transform 0.2s ease-in-out;
}
.save-button:active {
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
    background-color: green; /* Cambia el color al hacer clic */
}
.cancel-button {
    background-color: #f44336;
}
.cancel-button:hover{
    background-color: red;
}
.cancel-button:active {
    transform: scale(0.95); /* Efecto de reducción al hacer clic */
    background-color: red; /* Cambia el color al hacer clic */
}
.separador{
    width: 100%;
    height:500px;
    background-color:#FFAE00;
    display:flex;
    justify-content:center;
    align-items: center;
    color:white;
    font-size:60px;
    font-weight:700;
    border-radius: 20px;
}