.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
  }
  
  .page-link:hover {
    color: #0056b3;
  }
  