.sales-list {
    font-family: Arial, sans-serif;
    border-radius: 20px;
    background-color: rgba(33, 33, 33, 255);
    color: white;
    padding: 20px;
}

.sales-list table {
    margin-top: 1%;
    width: 100%;
    border-collapse: collapse;
}

.sales-list th, .sales-list td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.sales-list details {
    cursor: pointer;
}

.sales-list details summary {
    font-weight: bold;
}

.sales-list h1 {
    text-align: center;
    margin-bottom: 20px;
}

.separado {
    height: 500px;
    background-color: #FFAE00;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
}

.details-table {
    width: 100%;
}

.date-time-range{
    display: flex;
    flex-direction: column;
    width: 30%;
}